In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [3]:
# Question 1
# 1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.
dataset = pd.Series([2, 4, 6, 8, 10])
print(dataset)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [4]:
# Question 2
# 2. Write a Pandas program to convert a PandaS module Series to Python list and it's type.
# Use the last cell pandas series to convert into python list
print(dataset.tolist())

[2, 4, 6, 8, 10]

In [12]:
# 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
# Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

series1 = pd.Series([2, 4, 6, 8, 10])
series2 = pd.Series([1, 3, 5, 7, 9])
print(series1 + series2)
print(series1 - series2)
print(series1 * series2)
print((series1 / series2).apply(math.ceil))

0     3
1     7
2    11
3    15
4    19
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2
1    2
2    2
3    2
4    2
dtype: int64

In [14]:
if series1.equals(series2):
    print('It is true')
else:
    print('It is false')

It is false

In [18]:
# 5. Write a Pandas program to convert a dictionary to a Pandas series.
# Sample Series:
dic = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
pdnew = pd.Series(dic)
print(pdnew)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [16]:
# Write a Pandas program to convert a NumPy array to a Pandas series. 
numArray = np.array([10, 20, 30, 40, 50])
print(pd.Series(numArray))

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [21]:
# Write a Pandas program to change the data type of given a column or a Series.
# Sample Series:
# Original Data Series:
# 0 100
# 1 200
# 2 python
# 3 300.12
# 4 400
# dtype: object
newSeries = pd.Series([100, 200, 'python', 300.12, 400])
print(newSeries)
convert_datatype = pd.to_numeric(newSeries, errors='coerce')
print(convert_datatype)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [25]:
# Write a Pandas program to convert the first column of a DataFrame as a Series. 
# Sample Output:
# Original DataFrame
# col1 col2 col3
pdDataframe = pd.DataFrame({'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1, 11]})
print(pdDataframe['col1'])
print(type(pdDataframe['col1']))

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

In [27]:
# Write a Pandas program to convert a given Series to an array. 
# Sample Output:
# Original Data Series:
# 0 100
# 1 200
# 2 python
# 3 300.12
# 4 400
# dtype: object
series = pd.Series([100, 200, 'python', 300.12, 400])
print(series)
print(series.values) # convert to array

0       100
1       200
2    python
3    300.12
4       400
dtype: object
[100 200 'python' 300.12 400]
<bound method NDFrame.to_xarray of 0       100
1       200
2    python
3    300.12
4       400
dtype: object>